:root {
  --primary: #1b027f;
  --secondary: #33ff33;
  --green: #33ff99;
  --dark: #0a0a0a;
  --text: #ffff33;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: var(--text);
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--primary);
  line-height: 1.25;
}

h2 a:visited {
  color: var(--secondary);
}

h2 a {
  color: var(--text);
}

header {
  margin-top: 10px;
}

main {
  margin: 20px auto;
  width: 94%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}

input {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

.card-header h2 {
  color: var(--text);
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  color: var(--text);
  border: 5px black;
  outline: none;
  background-color: var(--primary);
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: var(--text);
  background-color: var(--secondary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--primary);
}

.btn-inline {
  display: inline;
}

.li-inline {
  display: inline;
}

.navbar {
  width: 100%;
  position: static;
  background-color: var(--primary);
  align-items: center;
  padding: 8px;
}

.nav-item {
  margin: 0 120px;
}

.nav-item a {
  color: var(--text);
}

.one {
  padding: 3% 4%;
  background-color: var(--primary);
  color: var(--text);
}

.one p {
  max-width: 75%;
}

.app-title {
  font-size: 5rem;
  padding: 11px;
  background-color: var(--dark);
  color: var(--text);
  display: inline-block;
}